@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-gray-900 dark:text-white;
  }
}

.btn {
  @apply bg-red-500 text-white font-bold py-2 px-4 rounded;
}
